<ion-view view-title="{{atividadeCtrl.atividade.Titulo}}">
  <ion-content>
    <div class="list card">
        <div class="item item-avatar">
            <img ng-src="http://www.ecoaprender.com.br/img/atividades/{{atividadeCtrl.atividade.FotoResumo}}">
            <h2>{{atividadeCtrl.atividade.Titulo}}</h2>
            <p>Grupo {{atividadeCtrl.atividade.Grupo}} - {{atividadeCtrl.atividade.Data | date:'dd/MM/yyyy'}}</p>
        </div>
        <div class="item item-body">
            <span ng-bind-html="atividadeCtrl.atividade.CompletaApp"></span>
        </div>
    </div>
  </ion-content>
</ion-view>
