<ion-view view-title="Atividades">
    <ion-content>
        <ion-list>  
            <div class="list card" ng-repeat="atividade in atividadesCtrl.atividades">
                <div class="item item-avatar">
                    <img ng-src="http://www.ecoaprender.com.br/img/atividades/{{atividade.FotoResumo}}">
                    <h2>{{atividade.Titulo}}</h2>
                    <p>Grupo {{atividade.Grupo}} - {{atividade.Data | date:'dd/MM/yyyy'}}</p>
                </div>
                <div class="item item-body">
                    <img class="full-image" ng-src="http://www.ecoaprender.com.br/img/atividades/{{atividade.FotoResumo}}">
                    <p>
                        {{atividade.Resumo}}
                    </p>
                    <p>
                        <a href="#" ng-click="atividadesCtrl.VerMais(atividade)" class="subdued">Ver mais</a>
                    </p>
                </div>
            </div>
        </ion-list>
        
        <ion-infinite-scroll ng-if="!atividadesCtrl.noMoreItemsAvailable" on-infinite="atividadesCtrl.LoadMore()" distance="2%"></ion-infinite-scroll>
    </ion-content>
</ion-view>
