
<ion-view view-title="Conversas" class="chat">
  <ion-nav-buttons side="right" class="menu">
    <a href="#/app/chatNovo" style="color: #fff; font-size: 20px; padding-top: 8px; padding-right: 5px;">
      <i class="icon ion-plus-round"></i>
    </a>
  </ion-nav-buttons>

  <ion-content>
    <div class="list" ng-if="chatsCtrl.alerta == ''">
        <a class="item" href="#" ng-click="chatsCtrl.exibirConversa(chat)" ng-repeat="chat in chatsCtrl.chats">
            <small>{{chat.UsuarioDe.Nome}}</small><small style="float: right;"> {{chat.DataInclusao | date:'dd/MM/yyyy'}}</small>
            <p>{{chat.Assunto}}</p>
        </a>
    </div>

    <div class="list" ng-if="chatsCtrl.alerta != ''">
      <div class="item">
        <p>{{chatsCtrl.alerta}}</p>
      </div>
    </div>
    
    <ion-infinite-scroll ng-if="!chatsCtrl.noMoreItemsAvailable" on-infinite="chatsCtrl.carregarMais()" distance="5%"></ion-infinite-scroll>
  </ion-content>
</ion-view>