<ion-view view-title="{{comunicadoCtrl.comunicado.Titulo}}">
    <ion-content>
        <div class="list card" ng-hide="comunicadoCtrl.relatorioExibir">
            <div class="item item-text-wrap">
                <strong>{{comunicadoCtrl.comunicado.Titulo}}</strong><br />
                <small>{{comunicadoCtrl.comunicado.Data | date:'dd/MM/yyyy'}}</small>
                <p>&nbsp;</p>
                <span ng-bind-html="comunicadoCtrl.comunicado.Descricao"></span>
                <form name="form" ng-submit="comunicadoCtrl.confirmar()" ng-show="comunicadoCtrl.comunicado.Confirmar && comunicadoCtrl.confirmacaoRealizada == false">
                    <button ng-hide="comunicadoCtrl.carregando" class="button button-block button-positive" type="submit" ng-disabled="comunicadoCtrl.carregando">
                        CONFIRMAR
                    </button>

                     <button ng-show="comunicadoCtrl.carregando" class="button button-block button-positive" type="submit" ng-disabled="comunicadoCtrl.carregando">
                        CARREGANDO...
                    </button>
                </form>

                <p class="positive" ng-show="comunicadoCtrl.confirmacaoRealizada">Confirmação realizada</span>
            </div>
        </div>

        <div ng-if="comunicadoCtrl.usuario.UsuarioId == 1 && comunicadoCtrl.relatorioExibir">
            <div class="row header bar bar-positive">
                <div class="col centralizar">Aluno</div>
                <div class="col centralizar">Leitura</div>
                <div class="col centralizar" ng-if="comunicadoCtrl.comunicado.Confirmar">Confirmação</div>
            </div>
            <div class="row" ng-repeat="item in comunicadoCtrl.relatorio">
                <div class="col centralizar">{{item.UsuarioNome}}</div>
                <div class="col centralizar">
                    <span ng-if="item.DataLeitura != null">{{item.DataLeitura |  date:'dd/MM/yyyy hh:mm'}}</span>
                    <span ng-if="item.DataLeitura == null">---</span>
                </div>
                <div class="col centralizar" ng-if="comunicadoCtrl.comunicado.Confirmar">
                    <span ng-if="item.DataConfirmado != null">{{item.DataConfirmado |  date:'dd/MM/yyyy hh:mm'}}</span>
                    <span ng-if="item.DataConfirmado == null">---</span>
                </div>
            </div>
        </div>
    </ion-content>
    
    <ion-footer-bar class="bar-dark meu-footer" ng-if="comunicadoCtrl.usuario.UsuarioId == 1">
        <div class="row">
            <div class="col centralizar" ng-click="comunicadoCtrl.setRelatorioExibir(false)">
                <i class="icon ion-home"></i><br />
                Comunicado
            </div>
            <div class="col centralizar" ng-click="comunicadoCtrl.setRelatorioExibir(true)">
                <i class="icon ion-star"></i><br />
                Relatório
            </div>
        </div>
    </ion-footer-bar>
</ion-view>

