<ion-view view-title="Comunicados">
  <ion-content>
    <div class="list">
        <a class="item" href="#" ng-click="comunicadosCtrl.VerMais(comunicado)" ng-repeat="comunicado in comunicadosCtrl.comunicados">
            <h2>{{comunicado.Data | date:'dd/MM/yyyy'}}</h2>
            <p>{{comunicado.Titulo}}</p>
        </a>
    </div>
    
    <ion-infinite-scroll ng-if="!comunicadosCtrl.noMoreItemsAvailable" on-infinite="comunicadosCtrl.LoadMore()" distance="2%"></ion-infinite-scroll>
  </ion-content>
</ion-view>