<ion-view cache-view="false" class="login" hide-nav-bar="true">
    <ion-content>
        <div class="header">
            <div class="titulo">
                App Escola Infantil
            </div>
        </div>
        
        <form name="form" ng-submit="loginCtrl.login()" novalidate>
            <div class="list">
                <label class="item item-input item-floating-label">
                    <span class="input-label">Login</span>
                    <input type="text" placeholder="Login" ng-model="loginCtrl.email" required>
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Senha</span>
                    <input type="password" placeholder="Senha" ng-model="loginCtrl.senha" required>
                </label>
            </div>

            <div class="row">
                <div class="col">
                    <button ng-hide="loginCtrl.carregando" class="button button-block button-positive" type="submit" ng-disabled="loginCtrl.carregando || form.$invalid">
                        LOGIN
                    </button>

                     <button ng-show="loginCtrl.carregando" class="button button-block button-positive" type="submit" ng-disabled="loginCtrl.carregando || form.$invalid">
                        CARREGANDO...
                    </button>
                </div>
            </div>
        </form>
    </ion-content>     
</ion-view>
