<ion-side-menus enable-menu-with-back-views="false">
	<ion-side-menu-content>
		<ion-nav-bar class="bar-energized" ng-style="{'background-color': backgroundColorHeader}">
			<ion-nav-back-button class="button-clear">
                <i class="ion-chevron-left"></i>
            </ion-nav-back-button>
			<ion-nav-buttons side="left">
				<button class="button button-icon button-clear ion-navicon" menu-toggle="left">
				</button>
			</ion-nav-buttons>
		</ion-nav-bar>
		<ion-nav-view name="menuContent"></ion-nav-view>
	</ion-side-menu-content>

	<ion-side-menu side="left">
		<ion-header-bar class="bar-stable">
			<h1 class="title">{{escolaNome}}</h1>
		</ion-header-bar>
		<ion-content>
			<ion-list>
				<ion-item menu-close href="#/app/painel">
					Painel
				</ion-item>
                <ion-item menu-close href="#/app/comunicados">
					Comunicados
				</ion-item>
				<ion-item menu-close href="#/app/atividades">
					Atividades
				</ion-item>
                <ion-item menu-close href="#/app/videos">
					Vídeos
				</ion-item>
				<ion-item menu-close href="#/app/chats">
					Chat
				</ion-item>	
			</ion-list>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>