<ion-view title="Painel">
    <ion-content>
        <img src="img/painel-topo.jpg" class="painel-img">
        
        <!--<div class="row painel-comunicados-atividades margin-top--5">
            <div class="col-50"><a href="#/app/comunicados"><img src="img/comunicados.jpg"></a></div>
            <div class="col-50"><a href="#/app/atividades"><img src="img/atividades.jpg"></a></div>
        </div>
        
         <div class="row painel-comunicados-atividades">
            <div class="col-50"><a href="#/app/comunicados">comunicados</a></div>
            <div class="col-50"><a href="#/app/atividades">atividades</a></div>
        </div>
        
        <div class="row painel-comunicados-atividades margin-top--5">
            <div class="col-50"><a href="#/app/comunicados"><img src="img/comunicados.jpg"></a></div>
            <div class="col-50"><a href="#/app/atividades"><img src="img/atividades.jpg"></a></div>
        </div>
        
         <div class="row painel-comunicados-atividades">
            <div class="col-50"><a href="#/app/comunicados">comunicados</a></div>
            <div class="col-50"><a href="#/app/atividades">atividades</a></div>
        </div>-->

        <div class="linha">
            <div class="box lado-esquerdo">
                <a href="#/app/comunicados">
                    <i class="ion ion-compose comunicado"></i>
                    <p class="comunicado">Comunicados</p>
                </a>
            </div>
            <div class="box">
                <a href="#/app/atividades">
                    <i class="ion ion-settings atividade"></i>
                    <p class="atividade">Atividades</p>
                </a>
            </div>
        </div>
        <hr class="border-bottom" />
        <div class="linha">
            <div class="box lado-esquerdo">
                <a href="#/app/videos">
                    <i class="ion ion-videocamera video"></i>
                    <p class="video">Vídeos</p>
                </a>
            </div>
            <div class="box">
                <a href="#/app/chats">
                    <i class="ion ion-chatboxes chat"></i>
                    <p class="chat">Chat</p>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
