<ion-view view-title="SUGESTÃO">
    <ion-content>        
        <div class="row responsive-sm" ng-show="sugestaoCtrl.showSemSugestao && !sugestaoCtrl.showEmail && !sugestaoCtrl.showAdicionar">
            <div class="col text-justify">
                <i class="icon ion-alert-circled"></i> 
                Ainda nenhuma sugestão foi enviada por você. 
                Envie uma agora para ajudar a deixar o nosso app melhor, com mais funcionalidades e mais informações!
                Para adicionar uma sugestão clique no botão novo que esta no rodapé.
            </div>
        </div>

        <div class="list sugestao-lista" ng-hide="sugestaoCtrl.showAdicionar || sugestaoCtrl.showEmail || sugestaoCtrl.showSemSugestao">
            <a class="item" href="#" ng-click="sugestaoCtrl.Editar(sugestao)" ng-repeat="sugestao in sugestaoCtrl.sugestoes">
                <h2>{{sugestao.DataInclusao | date:'dd/MM/yyyy'}}</h2>
                <p>{{sugestao.Titulo}}</p>
                <p>{{sugestao.Status}}</p>
            </a>
        </div>    
        <ion-infinite-scroll ng-if="!sugestaoCtrl.noMoreItemsAvailable && !sugestaoCtrl.erroListarTodos && !sugestaoCtrl.showAdicionar && !sugestaoCtrl.showEmail" on-infinite="sugestaoCtrl.LoadMore()" distance="2%" immediate-check="true"></ion-infinite-scroll>
        
        <div class="list" class="sugestao-form" ng-show="sugestaoCtrl.showAdicionar">
            <form novalidate name="formAdicionar">
                <label class="item item-input item-floating-label">
                    <span class="input-label">Titulo</span>
                    <input type="text" placeholder="Titulo" ng-model="sugestaoCtrl.form.Titulo" required ng-disabled="sugestaoCtrl.editarDisabled">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Descrição</span>
                    <textarea type="text" placeholder="Descrição" ng-model="sugestaoCtrl.form.Descricao" required ng-disabled="sugestaoCtrl.editarDisabled"></textarea>
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Nome</span>
                    <input type="text" placeholder="Nome" ng-model="sugestaoCtrl.form.Nome" ng-disabled="sugestaoCtrl.editarDisabled">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">E-mail</span>
                    <input type="email" placeholder="E-mail" ng-model="sugestaoCtrl.form.Email" disabled>
                </label>
                <button class="button button-positive margin-top-10 margin-left-15 width-43" ng-click="sugestaoCtrl.Adicionar()" ng-disabled="formAdicionar.$invalid || sugestaoCtrl.editarDisabled">ADICIONAR</button>
                <button class="button button-assertive margin-top-10 margin-left-15 width-43" ng-click="sugestaoCtrl.Cancelar()">CANCELAR</button>
                <span class="input-error">{{sugestaoCtrl.erro}}</span>                
            </form>
        </div>
        
        <div class="list sugestao-form" ng-show="sugestaoCtrl.showEmail">
            <form novalidate name="formAdicionarEmail">
                <label class="item item-input item-floating-label">
                    <span class="input-label">E-mail</span>
                    <input type="email" placeholder="E-mail" ng-model="sugestaoCtrl.email" required>
                </label>
                <button class="button button-positive margin-top-10 margin-left-15 width-92" ng-click="sugestaoCtrl.AdicionarEmail()" ng-disabled="formAdicionarEmail.$invalid">ADICIONAR</button>
            </form>
        </div>
        
    </ion-content>
    
    <div class="bar bar-footer" ng-hide="sugestaoCtrl.showAdicionar || sugestaoCtrl.showEmail" ng-click="sugestaoCtrl.Novo()">
        <button class="button button-clear font-white sugestao-novo">NOVO</button>
    </div>
</ion-view>

