body{
    font-family: $font-family-base!important;
}

.width-92{
    width: 92%
}

.width-43{
    width: 43%
}

.margin-15{
    margin: 15px;
}

.margin-top-5{
    margin-top: 5px;
}

.margin-top-10{
    margin-top: 10px;
}

.margin-top-15{
    margin-top: 15px!important;
}

.margin-left-10{
    margin-left: 10px;
}

.margin-left-15{
    margin-left: 15px;
}

.button {
    height: 34px;
    line-height: 36px;
    min-height: 34px;
}

.bar-footer{
    background-color: #387ef5;
    border-top: #387ef5;
}

.font-white{
    color: #fff!important;
}

.text-justify{
    text-align: justify;
}

.text-center{
    text-align: center;
}

.margin-top--5{
    margin-top: -5px;
}