/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

$energized: #387ef5 !default;
$menu-bar: #0d202f;
$menu-font-color: #efefef;
$menu-background: #0d202f;
$menu-item-background: #0d202f;
$menu-item-border: #0B1D2B;
$menu-subitem-background: #0d202f;

$ionicons-font-path: "../lib/ionic/fonts" !default;

@font-face {
    font-family: 'IstokWeb';
    src: url('../fonts/IstokWeb-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/IstokWeb-Regular.eot?#iefix') format('embedded-opentype'), 
	     url('../fonts/IstokWeb-Regular.ttf') format('truetype');
}
$font-family-base: "IstokWeb", sans-serif !default;

@import "www/lib/ionic/scss/ionic";
@import "menu";
@import "componentes";
@import "painel";
@import "sugestao";