.logo {
	width: 70%; 
	padding-top: 12px;
}

.bar{
    &.bar-stable {
        background: $menu-bar;
        border: 0;

        .title {
            color: $menu-font-color;
        }
    }
}

.menu {
	background: $menu-background;
	color: $menu-font-color;
	
	.item {
		border-color: $menu-item-border;
		background: $menu-item-background;
		color: $menu-font-color;
		font-size: 15px;
		line-height: 1;
	}
	
	.item-complex {
        .item-content {
            background: $menu-subitem-background;
            color: $menu-font-color;
        }
    }
}