.meu-input{
  background-color: #efefef;
}

/**
 * Item Button
 * --------------------------------------------------
 * An item button is a child button inside an .item (not the entire .item)
 */

.item-avatar, .item-avatar .item-content, .item-avatar-left, .item-avatar-left .item-content {
  padding-left: 75px;
  min-height: 75px; }
  .item-avatar > img:first-child, .item-avatar .item-image, .item-avatar .item-content > img:first-child, .item-avatar .item-content .item-image, .item-avatar-left > img:first-child, .item-avatar-left .item-image, .item-avatar-left .item-content > img:first-child, .item-avatar-left .item-content .item-image {
    position: absolute;
    top: 15px;
    left: 15px;
    max-width: 45px;
    max-height: 45px;
    width: 100%;
    height: 100%;
    border-radius: 50%; }

.item-avatar-s, .item-avatar-s .item-content, .item-avatar-left-s, .item-avatar-left-s .item-content {
  padding-left: 60px;
  min-height: 60px; }
  .item-avatar-s > img:first-child, .item-avatar-s .item-image, .item-avatar-s .item-content > img:first-child, .item-avatar-s .item-content .item-image, .item-avatar-left-s > img:first-child, .item-avatar-left-s .item-image, .item-avatar-left-s .item-content > img:first-child, .item-avatar-left-s .item-content .item-image {
    position: absolute;
    top: 15px;
    left: 15px;
    max-width: 30px;
    max-height: 30px;
    width: 100%;
    height: 100%;
    border-radius: 50%; }

.item-avatar-xs, .item-avatar-xs .item-content, .item-avatar-left-xs, .item-avatar-left-xs .item-content {
  padding-left: 52px;
  min-height: 52px; }
  .item-avatar-xs > img:first-child, .item-avatar-xs .item-image, .item-avatar-xs .item-content > img:first-child, .item-avatar-xs .item-content .item-image, .item-avatar-left-xs > img:first-child, .item-avatar-left-xs .item-image, .item-avatar-left-xs .item-content > img:first-child, .item-avatar-left-xs .item-content .item-image {
    position: absolute;
    top: 15px;
    left: 15px;
    max-width: 22px;
    max-height: 22px;
    width: 100%;
    height: 100%;
    border-radius: 50%; }

.item-avatar-right, .item-avatar-right .item-content {
  padding-right: 75px;
  min-height: 75px; }
  .item-avatar-right > img:first-child, .item-avatar-right .item-image, .item-avatar-right .item-content > img:first-child, .item-avatar-right .item-content .item-image {
    position: absolute;
    top: 15px;
    right: 15px;
    max-width: 45px;
    max-height: 45px;
    width: 100%;
    height: 100%;
    border-radius: 50%; }

.item-avatar-right-s, .item-avatar-right-s .item-content {
  padding-right: 60px;
  min-height: 60px; }
  .item-avatar-right-s > img:first-child, .item-avatar-right-s .item-image, .item-avatar-right-s .item-content > img:first-child, .item-avatar-right-s .item-content .item-image {
    position: absolute;
    top: 15px;
    right: 15px;
    max-width: 30px;
    max-height: 30px;
    width: 100%;
    height: 100%;
    border-radius: 50%; }

.item-avatar-right-xs, .item-avatar-right-xs .item-content {
  padding-right: 52px;
  min-height: 52px; }
  .item-avatar-right-xs > img:first-child, .item-avatar-right-xs .item-image, .item-avatar-right-xs .item-content > img:first-child, .item-avatar-right-xs .item-content .item-image {
    position: absolute;
    top: 15px;
    right: 15px;
    max-width: 22px;
    max-height: 22px;
    width: 100%;
    height: 100%;
    border-radius: 50%; }


/**
 * Rounded
 * --------------------------------------------------
 */
.rounded {
  border-radius: 4px; }

/**
 * Utility Colors
 * --------------------------------------------------
 * Utility colors are added to help set a naming convention. You'll
 * notice we purposely do not use words like "red" or "blue", but
 * instead have colors which represent an emotion or generic theme.
 */

.stable, a.stable {
  color: #D9D9D9; }

.stable-bg {
  background-color: #D9D9D9;
  }

.stable-border {
  border-color: #D9D9D9; }

/* room */
.chat-text {
  display: inline-block;
  padding: 10px;
  border-radius: 20px;
  max-width: 200px;
  }

.chat-me .chat-text {
  color: #ffffff; }

.chat-friend .chat-text:before {
  position: absolute;
  left: 50px;
  content: '';
  width: 0;
  height: 0;
  border-width: 7px 14px 7px 0;
  border-style: solid;
  border-color: transparent #D9D9D9 transparent; }

.chat-me .chat-text:before {
  position: absolute;
  right: 50px;
  content: '';
  width: 0;
  height: 0;
  border-width: 7px 0 7px 14px;
  border-style: solid;
  border-color: transparent #387ef5 transparent; }

.chat-friend.item-avatar-s > img:first-child {
  left: 5px;
  top: 0; }

.chat-me.item-avatar-right-s > img:first-child {
  right: 5px;
  top: 0; }

.item p.chat-text {
  white-space: normal;
  }

.item-avatar-s.chat-friend {
  min-height: inherit; }

.item.chat-friend, .item.chat-me {
  padding-top: 0;
  padding-bottom: 0; }

.bar-footer.chat-bar input.col.col-75 {
  border: 1px solid #dddddd;
  border-radius: 5px;
  margin-right: 10px;
  padding: 0 0 0 10px;
  -webkit-appearance: none; }

.chat-bar form.row {
  padding: 0; }

/* Tabs Striped */
.tabs-striped .no-flex .tab-item {
  -webkit-box-flex: none;
  -webkit-flex: none;
  -moz-box-flex: none;
  -moz-flex: none;
  -ms-flex: none;
  flex: none;
  margin-left: 16px;
  margin-right: 16px; }

.ionic.ionic-example .bar {
  position: relative; }

.border-none .item {
  border: none;
  margin: 0;
  }

.border-bottom.item {
  border-bottom: 1px solid #eeeeee; }

.main-text p {
  font-family: Georgia, Cambria, 'Times New Roman', Times, serif;
  font-size: 18px;
  line-height: 1.555;
  color: #171616; }

.main-text blockquote {
  font-size: 21px;
  line-height: 1.555;
  color: #171616;
  quotes: "\201C" "\201D" "\2018" "\2019";
  padding-left: 40px;
  border: none; }

.main-text blockquote:before {
  font-family: Georgia, Cambria, 'Times New Roman', Times, serif;
  color: #171616;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-left: -.4em;
  vertical-align: -0.4em; }

.response-block {
  background-color: #fafafa; }

.response-block .list-inset {
  background-color: transparent; }

.response-block .item {
  background-color: transparent; }

/* remove the top border of footer */
.bar.bar-footer {
  border: 0px !important;
  border-bottom-color: transparent !important;
  background-image: none;
  border-bottom: none; }

/* tab-activities */
.item-note {
  position: absolute;
  top: 15px;
  right: 15px; }

/* use when avatar is at the center of an item */
.item-avatar-center.item-avatar > img:first-child {
  position: initial; }

.item-avatar.item-avatar-l, .item-avatar.item-avatar-xl {
  padding-left: 16px; }

.item-avatar.item-avatar-l img:first-child {
  max-width: 60px;
  max-height: 60px; }

.item-avatar.item-avatar-xl img:first-child {
  max-width: 80px;
  max-height: 80px; }

/* use when avatar is with toggle in an item */
.item-toggle.item-avatar img {
  position: absolute;
  top: 16px;
  left: 16px;
  max-width: 40px;
  max-height: 40px;
  width: 100%;
  height: 100%;
  border-radius: 50%; }

.item-toggle .toggle {
  top: 50%;
  margin-top: -20px; }

/* badge */
.item .badge, .item-icon-left .badge.avatar-badge .icon, .item-icon-right .badge.avatar-badge .icon {
  display: inline !important; }

.avatar-badge {
  border: 2px solid #ffffff;
  border-radius: 50%; }

.item .badge.avatar-badge-xs {
  top: 20px;
  left: 26px;
  font-size: 10px;
  width: 12px;
  height: 12px;
  line-height: 8px;
  padding: 0;
  border-width: 1px; }

.item .badge.avatar-badge-s {
  top: 46px;
  left: 46px;
  font-size: 10px;
  width: 15px;
  height: 15px;
  line-height: 10px;
  padding: 0; }

.item .badge.avatar-badge-l {
  top: 65%;
  left: 55%;
  width: 23px;
  height: 23px;
  padding: 2px; }

/* set the size of icon in badge in item-icon-right/left  */
.item-icon-right .avatar-badge-s .icon, .item-icon-left .avatar-badge-s .icon {
  font-size: 10px;
  left: -10px; }

/*minhas edições*/

.chat-text small{
  font-size: 70%;
  color: #666;
}

.item p{
  color: #252525;
}