.margin-left-1{
    margin-left: 1px;
}

.margin-top-20{
    margin-top: 20px;
}

.cinza-claro{
    color:#efefef!important;
}

.centralizar{
    text-align: center;
}

.meu-footer{
    background-color: #000;
}

.meu-footer .tabs{
    background-color: #000;
}

.padding-top-1{
    padding-top: 1px;
}

.width-100 {
    width: 100%;
}

.width-50 {
    width: 50%;
}

.width-49 {
    width: 49%;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}