.login .header{
  height: 260px;
  background-color: #387ef5;
}

.login .entrar{
  color: #fff;
}

.login .header .titulo{
  color: #fff;
  text-align: center;
  padding-top: 120px;
  width: 100%;
  font-size: 30px;
}