.home-background {
    background: url('/img/painel-background.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.linha{
    width: 100%;
    height: 120px;
}

hr.border-bottom {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), #efefef, rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), #efefef, rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), #efefef, rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), #efefef, rgba(0,0,0,0)); 
}

.box{
    padding-top: 40px;
    float: left;
    text-align: center;
    width: 50%;
    height: 120px;
}

.box a {
    text-decoration: none;
}

.box i.atividade{
    font-size: 50px;
    color: #92ca67;
}

.box p.atividade{
    color: #92ca67;
}

.box i.comunicado{
    font-size: 50px;
    color: #387ef5;
}

.box p.comunicado{
    color: #387ef5;
}

.box i.chat{
    font-size: 50px;
    color: #f05364;
}

.box p.chat{
    color: #f05364;
}

.box i.video{
    font-size: 50px;
    color: #fbb45c;
}

.box p.video{
    color: #fbb45c;
}

.box.lado-esquerdo{
    border-right: 1px solid #efefef; 
}

/*.box.lado-esquerdo:after {
    content: "";
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: 50%;
    width: 1px;
    background-image:        -webkit-gradient(linear, 0 0, 0 100%, from(#efefef), to(transparent));
    background-image: -webkit-linear-gradient(transparent, #efefef, transparent);
    background-image:    -moz-linear-gradient(transparent, #efefef, transparent);
    background-image:      -o-linear-gradient(transparent, #efefef, transparent);
    background-image:         linear-gradient(transparent, #efefef, transparent);
}*/